<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A propos</h2>
                    <h3 class="section-subheading text-muted">Rehia, c'est un terme maori qui veut dire "plaisir, amusement". Il traduit parfaitement mon état d'esprit lorsque je développe. J'adore apprendre de nouvelles choses, et j'adore les partager !</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Janvier 2014</h4>
                                    <h4 class="subheading">Le démarrage</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Premières missions : accompagnement de l'OCDE dans le refactoring d'une application .NET. Aide d'Infonova dans l'appréhension de .NET.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mai 2014</h4>
                                    <h4 class="subheading">Lancement des formations</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Démarrage des formations en sous-traitance pour Smartview, sur les pratiques de développement (TDD, Clean Code), Scrum, et la dynamique d'équipe.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Le monde des startups</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Intégration du monde des startups, en tant qu'associé ou salarié. Développement full JS. Entrée à <a href="http://tweetping.net" target="_blank">Lightstream</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Décembre 2015</h4>
                                    <h4 class="subheading">Agréé centre de formation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Obtention de l'agrément Centre de Formation Professionnel !</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faites aussi
                                    <br>partie de
                                    <br>l'histoire !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>