<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/smartview.png" class="img-responsive img-centered" alt="Smartview">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/actinuum.png" class="img-responsive img-centered" alt="Actinuum">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/acelys.png" class="img-responsive img-centered" alt="Acelys">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/infonova.png" class="img-responsive img-centered" alt="Infonova">
                    </a>
                </div>
            </div>
        </div>
    </aside>