<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted" style="max-width:500px;margin-left:auto;margin-right:auto;">"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live."<br/>- Martin Golding</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formations</h4>
                    <p class="text-muted">Je donne des formations, car j'aime partager ce que j'ai appris, et permettre à d'autres de progresser ! Mes formations portent sur l'Agile, les pratiques de développement, JavaScript, NodeJS, C# pour débutants...</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Développement</h4>
                    <p class="text-muted">Si je peux aider, sur un temps très court, sur des problématiques de test, de code legacy, de design, n'hésitez pas ! J'aime JavaScript, NodeJS, je connais C#, Java...</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Review</h4>
                    <p class="text-muted">Parfois, un oeil extérieur peut aider lorsqu'on se sent impuissant ou fataliste face à du code vieillissant. En quelques heures, je peux vous aider à trouver le bon angle d'attaque pour le reprendre en main !</p>
                </div>
            </div>
        </div>
    </section>